{% extends 'base.html.twig' %}

{% block title %}New Note{% endblock %}

{% block body %}
    <center>
    <h1>Insertion de la note</h1>

    {{ include('note/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('app_note_index') }}">back to list</a>
    </center>
{% endblock %}
