{% extends 'base.html.twig' %}

{% block title %}New Enseignant{% endblock %}

{% block body %}
    <h1>Creéer Enseignant</h1>

    {{ include('enseignant/_form.html.twig') }}

    <a href="{{ path('app_enseignant_index') }}">Retour à la liste</a>
{% endblock %}
